/*
    Created on : Jun 9, 2014, 11:08:41 AM
    Author     : Ethan Stewart
    Purpose    : Style screened outputs
*/

main {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13pt;
    color: #000000;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFFFFF;
}

/*#cookbookView, #searchView {
    text-align: center;
    margin-top: 7px;
}*/

.wideButton {
    min-width: 298px;
    width: 50%;
    max-width: 400px;
    margin-top: 7px;
}

.halfButton {
    min-width: 145px;
    width: 25%;
    max-width: 196px;
    margin-top: 7px;
}

.error {
    color: red;
    font-weight: bold;
}

/*#typeChange {
    min-width: 298px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#typeChange select {
    min-width: 10px;
    max-width: 81px;
    overflow: none;
}*/

main pre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13pt;
    color: #000000;
}

nav {
    padding: 0px;
    min-width: 100%;
}

main div img {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav div ul li a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*    font-size: 0.8em;*/
    color: #FFFFFF;
    background-color: #114477;
    margin: 0px;
}

nav li a:visited {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17pt;
    color: #FFFFFF;
    background-color: #114477;
}

body footer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    background-color: #114477;
    padding: 0px;
    margin: 0px;
    border-top-width: 25px;
    border-top-color: #FFFFFF;
    text-shadow: 1.5px 1.5px 3px #000;
}

footer a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
}

footer a:visited {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    background-color: #114477;
}

header {
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    background-color: #114477;
    padding: 6px;
    margin: 0px;
    text-shadow: 1.5px 1.5px 3px #000
}

header div {
    margin: auto;
}

header div#logo {
    margin-left: auto;
    margin-right: auto;

}

header div a{
    width: 0.22em;
    display: block;
    padding: 0 5px;
    margin-left: auto;
    margin-right: auto;

}

header img {
    margin: auto;
    width: auto;
}

header div h1 {
    width: 78%;
    display: block;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000;
    margin-left: 0px;
    font-size: 2.5em;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

main div h1 {
    text-align: center;
}

main div {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

main div #appList {
    margin-top: 10px;
/*    padding-left: 1em;*/

    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

main div #appList li {
    margin-top: 5px;
    /*list-style-type: circle;*/
}

main div #explanation {
    float: right;
    width: 50%;
}

main div #hours {
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 15px;
    font-size: 22pt;
}

main div .func-call {
    margin-top: 15px;
    width: 20%;
}

main div .input-group {
    margin-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
}

main div .input-group input {
    width: 20%;
}

main div .strong {
    font-weight: bold;
}

main a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13pt;
    color: #114477;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:visited {
    color: #114477;
    text-decoration: none;
}

main figure {
    width: 80%;
}

/*#intro-audio {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main img {
    max-width: 100%;
}

main h3 {
    margin: 0px;
}

main ul {
    margin-top: 0px;
}
/*This makes everything underneath assigned to the border, not the content (change the sizing box-model)*/

/*What is being done here is intended for small screens (principle of "mobile first")*/
body>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-width: 320px;
}

[role=banner],
[role=main],
[role=contentinfo] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    padding: 30px;
}

header {
    margin-left: 0px;
    margin-right: 0px;
}

header div a{
    width: 22%;
    display: block;
    padding: 0 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
}

header div h1 {
    width: 78%;
    display: block;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    -webkit-padding-start: 0px;
}

nav li {
    float: left;
    width: 20%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.7em;
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px 3px #000;
    margin: 0px;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

nav div {
    padding: 10px;
    background-color: #114477;
    border-top: 2px solid #D0D0D0;
}

footer ul {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    -webkit-padding-start: 0px;
}

footer li {
    display: block;
    width: 25%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.5em;
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px 3px #000;
    margin: 0px;
    text-align: left;
}

footer li a {
    text-decoration: none;
    display: block;
    min-width: 100%;
    /*padding: 10px;*/
}

footer li a:hover {
    text-decoration: underline;
}

figcaption {
    margin-top: 5px;
    font-size: 0.65em;
}

main div.code-font {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    margin-left: 5px;
    display: inline;
}

.home nav a[title~=Home],
.lessons nav a[title~=Lessons],
.challenges nav a[title~=Challenges],
.useful-links nav a[title~=Useful],
.about nav a[title~=About] {
    border: 2px solid #FEF;
    margin: 0px;
    padding: 7px;
}

/* Rule to display Completed on the Exercises page in
   green and bold
*/
.completed {
    color: green;
    font-weight: bold;
}

/*
 * Make the asterisk by required fields stand out
 */
.required {
    color: red;
    font-weight: bold;
}


/*The rules in this media query are for medium screens (e.g. tablets)*/
@media screen and (min-width: 321px) {
    body>div {
        max-width: 799px;
        margin: 0 auto;
    }

    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    header div a{
        width: 22%;
        display: block;
        padding: 0 5px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: 70%;*/
    }

    header div h1 {
        width: 78%;
        display: block;
        color: #FFFFFF;
        text-shadow: 2px 2px 4px #000;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5em;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
    }

    nav ul {
        overflow: hidden;
        list-style-type: none;
        margin: auto;
        -webkit-padding-start: 0px;
    }

    nav li {
        float: left;
        width: 20%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 0.7em;
        color: #FFFFFF;
        text-shadow: 1.5px 1.5px 3px #000;
        margin: 0px;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
    }

    nav div {
        padding: 10px;
        background-color: #114477;
        border-top: 2px solid #D0D0D0;
    }

    footer ul {
        overflow: hidden;
        list-style-type: none;
        margin: auto;
        -webkit-padding-start: 0px;
    }

    footer li {
        display: block;
        width: 25%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 2.5em;
        color: #FFFFFF;
        text-shadow: 1.5px 1.5px 3px #000;
        margin: 0px;
        text-align: left;
    }

    footer li a {
        text-decoration: none;
        display: block;
        min-width: 100%;
        /*padding: 10px;*/
    }

    footer li a:hover {
        text-decoration: underline;
    }

    figcaption {
        margin-top: 5px;
        font-size: 0.65em;
    }

    main div.code-font {
        font-family: "Courier New", Courier, monospace;
        font-size: 0.9em;
        margin-left: 5px;
        display: inline;
    }

    .home nav a[title~=Home],
    .lessons nav a[title~=Lessons],
    .challenges nav a[title~=Challenges],
    .useful-links nav a[title~=Useful],
    .about nav a[title~=About] {
        border: 2px solid #FEF;
        margin: 0px;
        padding: 7px;
    }
}


/*Anything within this media query is intended for bigger screens (800px or more)*/
@media screen and (min-width: 800px) {
    body>div {
        max-width: 1200px;
        margin: 0 auto;
    }

    [role=banner],
    [role=navigation],
    [role=contentinfo] {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    [role=banner] {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    [role=navigation] {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        padding: 0px;
    }

    [role=main] {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 3;
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    [role=contentinfo] {
        -webkit-box-ordinal-group: 6;
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 4;
    }

    body {
        /**background-image: url("http://teachmehowtoprogram.net/images/computer-code-blue.jpg");*/
        background-image: url("../images/computer-code-blue.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
        height: 100%;
        min-height: 100%;
    }

    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    header div a{
        width: 22%;
        display: block;
        padding: 0 5px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: 70%;*/
    }

    header div h1 {
        width: 78%;
        display: block;
        color: #FFFFFF;
        text-shadow: 2px 2px 4px #000;
        margin: auto;
        font-size: 2.5em;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
    }

    nav ul {
        overflow: hidden;
        list-style-type: none;
        margin: auto;
        -webkit-padding-start: 0px;
    }

    nav li {
        float: left;
        width: 20%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 16pt;
        color: #FFFFFF;
        text-shadow: 1.5px 1.5px 3px #000;
        margin: 0px;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
    }

    nav a:hover {
        /*        border: 2px solid white;
                margin: 0px;
                padding: 7px;*/
        font-weight: bold;
    }

    nav div {
        padding: 10px;
        background-color: #114477;
        border-top: 2px solid #D0D0D0;
    }

    footer {
        /*position:absolute;*/
        bottom:0;
    }

    footer ul {
        overflow: hidden;
        list-style-type: none;
        margin: auto;
        -webkit-padding-start: 0px;
    }

    footer li {
        display: inline-block;
        width: 15%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12pt;
        color: #FFFFFF;
        text-shadow: 1.5px 1.5px 3px #000;
        margin: 0px;
        text-align: left;
    }

    footer li a {
        text-decoration: none;
        display: inline-block;
        /*padding: 10px;*/
    }

    footer li a:hover {
        text-decoration: underline;
    }

    #intro-audio {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    figcaption {
        font-size: 0.65em;
    }

    main div.code-font {
        font-family: "Courier New", Courier, monospace;
        font-size: 0.9em;
        margin-left: 5px;
        display: inline;
    }

    .home nav a[title~=Home],
    .lessons nav a[title~=Lessons],
    .challenges nav a[title~=Challenges],
    .useful-links nav a[title~=Useful],
    .about nav a[title~=About] {
        border: 2px solid #FEF;
        margin: 0px;
        padding: 7px;
    }
}
