<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="footer-module">
  <template>
    <style>

    </style>

    <div>
      All content (unless otherwise noted) is by Ethan Stewart.
      <div>
        <ul id="quick-links">
          <li>
            <a href="/apps">Apps</a>
          </li>
          <!-- <li>
            <a href="/about">About</a>
          </li> -->
        </ul>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "footer-module",

      properties: {
      }
    })
  </script>
</dom-module>
