<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="footer-module">
  <template>
    <style>
      [role=contentinfo] {
        -webkit-box-ordinal-group: 6;
        order: 4;
        flex-basis: 100%;
        flex: 1 100%;
        box-sizing: border-box;
      }

      footer {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12pt;
        color: white;
        background-color: #114477;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        border-top-width: 25px;
        border-top-color: white;
        text-shadow: 1.5px 1.5px 3px black;
        bottom: 0;
        display: block;
        bottom: 0;
        position: relative;;
        width: 100%;
        max-width: 100%;

        ul {
          /*overflow: hidden;*/
          /*list-style-type: none;*/
          margin: auto;
          margin-top: 4px;
          -webkit-padding-start: 0px;

          li {
            display: inline-block;
            width: 15%;
            /*font-family: "Trebuchet MS", Helvetica, sans-serif;
            font-size: 12pt;
            color: white;
            text-shadow: 1.5px 1.5px 3px black;*/
            margin: 0px;
            text-align: left;

            a {
              /*font-family: "Trebuchet MS", Helvetica, sans-serif;
              font-size: 12pt;
              color: white;
              cursor: pointer;
              background-color: #114477;
              text-decoration: none;
              display: inline-block;*/
              min-width: 100%;
            } /* a */
          } /* li */
        } /* ul */
      } /* footer */
    </style>

    <footer role="contentinfo">
      <div>
        All content (unless otherwise noted) is by Ethan Stewart.
        <div>
          <ul id="quick-links">
            <li>
              <a href="/apps">Apps</a>
            </li>
            <!-- <li>
              <a href="/about">About</a>
            </li> -->
          </ul>
        </div>
      </div>
    </footer>
  </template>

  <script>
    Polymer({
      is: "footer-module",

      properties: {
      }
    })
  </script>
</dom-module>
