<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="nav-module">
  <template>
    <style>

    </style>

    <nav id="nav-id" role="navigation">
      <div id="navdiv">
        <ul>
          <li>
            <a href="/" title="Link to Home page">HOME</a>
          </li>
          <li>
            <a href="/apps" title="Link to Apps page">APPS</a>
          </li>
        </ul>
      </div>
    </nav>
  </template>

  <script>
    Polymer({
      is: "nav-module",

      properties: {
      }
    })
  </script>
</dom-module>
