<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="navigation-module">
  <template>
    <style>

    </style>

    <div id="navdiv">
      <ul>
        <li>
          <a href="/" title="Link to Home page">HOME</a>
        </li>
        <li>
          <a href="/apps" title="Link to Apps page">APPS</a>
        </li>
      </ul>
    </div>
  </template>

  <script>
    Polymer({
      is: "navigation-module",

      properties: {
      }
    })
  </script>
</dom-module>
