<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="code-block">
  <template>
    <style>
      #codeBlock {
        font-family: Courier, monospace;
        font-size: 1.2em;
        padding-left: 20px;
        padding-top: 0px;
        margin: 15px;
        /*background-color: [[bgColor]];
        color: [[textColor]]*/
        white-space: pre-line;
      }
    </style>

    <!--
      TODO: Add line numbering (make it optional?)
      Possible solution: table tag, w/ line numbers in left cell for each row
    -->
    <pre id="codeBlock">
      <content></content>
    </pre>
  </template>

  <script>
    Polymer({
      is: "code-block",

      properties: {
        // Background color
        bgColor: {
          type: String,
          value: "black"
        },

        textColor: {
          type: String,
          value: "green"
        }
      },

      ready: function() {
        // Set the code block's colors
        var block = document.getElementById('codeBlock');
        block.style.color = this.textColor;
        block.style.backgroundColor = this.bgColor;
      }
    })
  </script>
</dom-module>
