<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/weighted-options.html">

<dom-module id="simple-candidate-comparison">
  <template>
    <style>
      .hidden {
        display: none;
      }

      .huge {
        font-size: 72pt;
      }

      .remove {
        background-color: red;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 0 3px;
      }

      #addForm {
        margin-top: 10px;
        width: 146px;
      }

      #addForm * {
        max-width: 100%;
        margin: 10px auto;
      }

      #addForm input {
        font-size: 1.25em;
        height: 30px;
        padding-left: 5px;
        width: 97%;
      }

      #addForm input:focus {
        /*outline-color: #002265;*/
        outline-width: 3px;
      }

      .custom-button {
        background-color: #002265;
        border: 2px solid black;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        padding: 7px;
        text-align: center;
        text-shadow: 1.5px 1.5px 3px black;
      }

      #addForm #addButton {
        float: left;
        margin-right: 2px;
        width: 29%;
      }

      #addForm #cancelButton {
        float: right;
        margin-right: 0;
        width: 44%;
      }

      #toggleAddForm {
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
        padding-bottom: 15px;
        text-align: center;
        width: 150px;
      }
    </style>

    <!-- Markup goes here -->
    <div id="wrapper">
      <div id="candidates">
        <template is="dom-repeat" items="{{candidates}}">
          <div class="candidate-name" id="{{item.id}}">
            {{item.name}}
            <span class="remove" title="Remove {{item.name}}" on-tap="_remove">X</span>
          </div>
          <weighted-options></weighted-options>
        </template>
      </div>

      <div id="toggleAddForm">
        <div class="huge">
          +
        </div>
        <div>
          Add Candidate
        </div>
      </div>
      <form class="hidden" id="addForm" >
        <input type="text" id="nameToAdd" placeholder="Name" /><br />
        <span class="custom-button" id="addButton">Add</span>
        <span class="custom-button" id="cancelButton">Cancel</span>
      </form>

      <div class="custom-button hidden" id="getResultsButton">
        Get Results
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "simple-candidate-comparison",

      properties: {
        candidates: {
          type: Array,
          value: function(){return [];}
          // value: function() {
          //   return [
          //     {name:"asdf",id:"idx0"},
          //     {name:"fdsa",id:"idx1"},
          //     {name:"qwerty",id:"idx2"}
          //   ];
          // }
        },

        candCount: {
          type: Number,
          value: 0,
          observer: '_updateFinalButton'
        }
      },

      _addCandidate: function(e) {
        // Prevent page refresh if form is submitted with enter key
        if (e) {
          e.preventDefault();
        }

        // Check for actual input
        var name = this.$.nameToAdd.value;
        if (name !== '' && name !== null && name !== undefined) {
          // Add the candidate to the array
          this.push('candidates', {"name": name, "id": `idx${this.candCount}`});
          this.candCount++;
        }

        // Hide the form again
        this._hideForm();
      },

      _cancelAdd: function() {
        // Just hide the form again
        this._hideForm();
      },

      _hideForm: function() {
        // Only add hidden class if it isn't already there
        if (!this.$.addForm.classList.contains('hidden')) {
          // Hide the form
          this.$.addForm.classList.add('hidden');
        }
        // Clear the input
        this.$.nameToAdd.value = "";
      },

      _toggleAddForm: function() {
        var classes = this.$.addForm.classList;
        if (classes.contains('hidden')) {
          // Display the form and put focus on the name input
          classes.remove('hidden');
          this.$.nameToAdd.focus();
        } else {
          // Hide the form
          classes.add('hidden');
        }
      },

      _handleKeypress: function(e) {
        // Hide the form when escape is pressed
        if (e.keyCode === 27) {
          this._hideForm();
        }
      },

      _remove: function(e) {
        var id = e.srcElement.parentElement.id;
        for (var i = 0; i < this.candidates.length; i++) {
          var currentId = this.candidates[i].id;
          if (currentId === id) {
            this.splice('candidates', i--, 1);
            this.candCount--;
          } else {
            this.candidates[i].id = `idx${i}`;
            this.$.candidates.children[currentId].id = `idx${i}`;
          }
        }
      },

      _updateFinalButton: function() {
        if (this.candCount >= 2) {
          if (this.$.getResultsButton.classList.contains('hidden')) {
            this.$.getResultsButton.classList.remove('hidden');
          }
        } else {
          if (!this.$.getResultsButton.classList.contains('hidden')) {
            this.$.getResultsButton.classList.add('hidden');
          }
        }
      },

      _calcResults: function() {

      },

      ready: function() {
        this.listen(this.$.toggleAddForm, 'tap', '_toggleAddForm');
        this.listen(this.$.addForm, 'submit', '_addCandidate');
        this.listen(this.$.addButton, 'tap', '_addCandidate');
        this.listen(this.$.cancelButton, 'tap', '_cancelAdd');
        this.listen(this.$.getResultsButton, 'tap', '_calcResults')
        this.listen(window, 'keyup', '_handleKeypress');
      }
    })
  </script>
</dom-module>
