<link rel="import" href="/bower_components/polymer/polymer.html">
<!-- Import other custom elements here -->

<dom-module id="weighted-options">
  <template>
    <style>
      select {
        width: 100%;
      }
      table {
        border-collapse: separate;
        border-spacing: 10px;
      }

      .topic-weight {
        width: 100%;
      }
    </style>

    <div>
      <table>
        <tr>
          <th>
            Topic
          </th>
          <th>
            Like/Dislike
          </th>
          <th>
            Weight
          </th>
        </tr>
        <template is="dom-repeat" items="{{topics}}">
          <tr id="{{item.id}}" class="option">
            <td>
              <span class="topic-name">{{item.name}}</span>
            </td>
            <td>
              <select id="{{item.likeId}}">
                <option value="like">Like</option>
                <option value="dislike">Dislike</option>
              </select>
            </td>
            <td>
              <input type="number" id="{{item.weightId}}" class="topic-weight" min="1" max="10" value="5" />
            </td>
          </tr>
        </template>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: "weighted-options",

      properties: {
        topics: {
          type: Array,
          value: function() {
            return [
              {"id":"one","name":"One","likeId":"oneLike","weightId":"oneWeight"},
              {"id":"two","name":"Two","likeId":"twoLike","weightId":"twoWeight"},
              {"id":"three","name":"Three","likeId":"threeLike","weightId":"threeWeight"}
            ];
          }
        }
      }
    })
  </script>
</dom-module>
